{% extends 'main_template.html' %} 
{% block content %}
{% load l10n %}
{% load widget_tweaks %} 
{% load static %}

<form method="post" id="memoForm" data-template-url="{% url 'ajax_load_template' %}">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Memo (New)</h1>
        <div id="navbar">
            <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i> Save</button>
            <a href="{% url 'memo_list' %}" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"><i class="fas fa-times fa-sm text-white-50"></i> Cancel</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card shadow mb-4">
                <a href="#GeneralCard" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="GeneralCard">
                    <h6 class="m-0 font-weight-bold text-primary">General</h6>
                </a>
                <div class="collapse show" id="GeneralCard">
                    <div class="card-body">
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col col-md-3">
                                    {{form.company.label_tag}}
                                </div>
                                <div class="col col-md-8">
                                    {% render_field form.company class="col-md-12 form-control form-control-use" %}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col col-md-3">
                                    {{form.department.label_tag}}
                                </div>
                                <div class="col col-md-8">
                                    {% render_field form.department class="col-md-12 form-control form-control-use" %}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col col-md-3">
                                    {{form.project.label_tag}}
                                </div>
                                <div class="col col-md-8">
                                    {% render_field form.project class="col-md-12 form-control form-control-use" %}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col col-md-3">
                                    {{form.template.label_tag}}
                                </div>
                                <div class="col col-md-8">
                                    {% render_field form.template class="col-md-12 form-control form-control-use" %}
                                </div>
                            </div>
                        </div>
                        <script>
                            $("#id_template").change(function() {
                                var url = $("#memoForm").attr("data-template-url"); // get the url of the `load_cities` view
                                var templateId = $(this).val(); // get the selected country ID from the HTML input

                                $.ajax({ // initialize an AJAX request
                                    url: url, // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                                    data: {
                                        'template': templateId // add the country id to the GET parameters
                                    },
                                    success: function(data) { // `data` is the return of the `load_cities` view function
                                        CKEDITOR.instances.id_details.insertHtml(data); // replace the contents of the city input with the data that came from the server
                                    }
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card shadow mb-4">
                <a href="#DocInfoCard" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="DocInfoCard">
                    <h6 class="m-0 font-weight-bold text-primary">Document Info</h6>
                </a>
                <div class="collapse show" id="DocInfoCard">
                    <div class="card-body">                        
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col col-md-3">
                                    {{form.status.label_tag}}
                                </div>
                                <div class="col col-md-8">
                                    <p class="text-info"><strong>New</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col col-md-3">
                                    {{form.revision.label_tag}}
                                </div>
                                <div class="col col-md-8">
                                    {% render_field form.revision|attr:"readonly" class="col-md-12 form-control form-control-use" %}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col col-md-3">
                                    {{form.document_number.label_tag}}
                                </div>
                                <div class="col col-md-8">
                                    {% render_field form.document_number|attr:"readonly" class="col-md-12 form-control form-control-use" %}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col col-md-3">
                                    {{form.submit_date.label_tag}}
                                </div>
                                <div class="col col-md-8">
                                    {% render_field form.submit_date class="form-control form-control-use" %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="form-row">
                <div class="col col-md-12">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col col-md-1">
                                {{form.subject.label_tag}}
                            </div>
                            <div class="col col-md-11">
                                {% render_field form.subject rows="3" class="col-md-12 form-control form-control-use" %}
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
            <hr/>
            <div class="form-row">
                <div class="col col-md-12">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-details-tab" data-toggle="tab" href="#nav-details" role="tab" aria-controls="nav-details" aria-selected="true">Details</a>
                            <a class="nav-item nav-link" id="nav-attachments-tab" data-toggle="tab" href="#nav-attachments" role="tab" aria-controls="nav-attachments" aria-selected="false">Attachments</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-details" role="tabpanel" aria-labelledby="nav-details-tab">
                            <br/>
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col col-md-12">
                                        {% csrf_token %} 
                                        {{form.media}} 
                                        {{form.details}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-attachments" role="tabpanel" aria-labelledby="nav-attachments-tab">
                            <br/>
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col col-md-12">
                                        <br/>
                                        <div class="d-sm-flex align-items-right justify-content-between mb-4">
                                            <h1 class="h3 mb-0 text-gray-800"></h1>
                                            <a href="#" data-toggle="modal" data-target="#addMemoAttachmentModal" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Add New</a>
                                        </div>
                                        <div class="table-responsive">
                                            <table id="myattachments" class="table table-striped table-bordered" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>No.</th>
                                                        <th data-data="id"></th>
                                                        <th data-data="memo"></th>
                                                        <th data-data="attachment">Attachment</th>
                                                        <th data-data="attachment_date">Date</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <script>
                                            $(document).ready(function() {
                                                var mytable = $('#myattachments').DataTable({
                                                    "ajax": "{% url 'memoattachment-list' %}?format=datatables&pk={{memo.pk|unlocalize}}",
                                                    "dom": "<'row'<'col-sm-12 small'tr>>" +
                                                        "<'row'<'col-sm-12 col-md-9'p><'col-sm-12 col-md-3'i>>",
                                                    "columnDefs": [{
                                                            "searchable": false,
                                                            "orderable": false,
                                                            "targets": 0,
                                                            "defaultContent": "<i>Not set</i>"
                                                        }, {
                                                        "targets": -1,
                                                        "data": null,
                                                        "render": function(data, type, row) {
                                                            return '<a href="' + row.attachment + '/" target="_blank" class="btn btn-primary btn-circle btn-sm" target="_blank"><i class="fas fa-file-download"></i></a>&nbsp;&nbsp;<a href="#" data-toggle="modal" data-target="#deleteMemoAttachmentModal" class="btn btn-danger btn-circle btn-sm" onclick="sendDelete(' + row.id + ')"><i class="fas fa-trash"></i></a>';
                                                        }
                                                    }, {
                                                        "visible": false,
                                                        "targets": [1,2]
                                                    }]
                                                });

                                                mytable.on('order.dt search.dt', function() {
                                                    mytable.column(0, {
                                                        search: 'applied',
                                                        order: 'applied'
                                                    }).nodes().each(function(cell, i) {
                                                        cell.innerHTML = i + 1;
                                                    });
                                                }).draw();
                                            });
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Delete Modal-->
<div class="modal fade" id="deleteMemoAttachmentModal" tabindex="-1" role="dialog" aria-hidden="true">
    <form action="{% url 'memo_attachment_delete' %}" method="POST" id="deleteMemoAttachment">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure to delete?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    Select "Delete" below if you are ready to delete.
                    <input type="hidden" name="hiddenValue" id="hiddenValue" value="" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-danger" id="deleteMemoAttachmentButton">Delete</a>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    function sendDelete(param) {
        var deleteInput = document.getElementById("hiddenValue");
        deleteInput.value = param;
    }
</script>
<script>
$("#deleteMemoAttachment").submit(function(e){
    e.preventDefault(); //prevent default action 
	proceed = true;
		
	var post_url = $(this).attr("action"); //get form action url
	var request_method = $(this).attr("method"); //get form GET/POST method
	var form_data = new FormData(this); //Creates new FormData object
	
	//if everything's ok, continue with Ajax form submit
	if(proceed){ 
		$.ajax({ //ajax form submit
			url : post_url,
			type: request_method,
			data : form_data,
			dataType : "json",
			contentType: false,
			cache: false,
			processData:false
		}).done(function(res){ 
			if (res.message == 'Success'){
                var table = $('#myattachments').DataTable(); 
                table.ajax.reload();
            }
            
            $('#deleteMemoAttachmentModal').modal('hide');
		});
	}
});
</script>

<!-- Add Modal-->
<div class="modal fade" id="addMemoAttachmentModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'memo_attachment_create' memo.pk %}" method="POST" id="addMemoAttachment" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Attachment</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col col-md-3">
                                {{form_attachment.attachment.label_tag}}
                            </div>
                            <div class="col col-md-8">
                                {% render_field form_attachment.attachment class="col-md-12 form-control form-control-use" %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col col-md-3">
                                {{form_attachment.attachment_date.label_tag}}
                            </div>
                            <div class="col col-md-8">
                                {% render_field form_attachment.attachment_date type="date" class="col-md-12 form-control form-control-use" %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" id="addMemoAttachmentButton">Submit</a>
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
$("#addMemoAttachment").submit(function(e){
    e.preventDefault(); //prevent default action 
	proceed = true;
		
	var post_url = $(this).attr("action"); //get form action url
	var request_method = $(this).attr("method"); //get form GET/POST method
	var form_data = new FormData(this); //Creates new FormData object

    $('#addMemoAttachmentModal').modal('hide');
    
    var d = new Date();
    var month = d.getMonth()+1;
    var day = d.getDate();
    var output = d.getFullYear() + '-' + (month<10 ? '0' : '') + month + '-' + (day<10 ? '0' : '') + day;

    $("#addMemoAttachment #id_attachment").val("");
    $("#addMemoAttachment #id_attachment_date").val(output);
	
	//if everything's ok, continue with Ajax form submit
	if(proceed){ 
		$.ajax({ //ajax form submit
			url : post_url,
			type: request_method,
			data : form_data,
			dataType : "json",
			contentType: false,
			cache: false,
			processData:false
		}).done(function(res){ 
            if (res.message == 'Success'){
                var table = $('#myattachments').DataTable(); 
                table.ajax.reload();
            }
		});
	}
});
</script>
{% endblock content %}