{% extends 'main_template.html' %}

{% block content %}
{% load static %}
{% load l10n %}
{% load widget_tweaks %}

<form method="post" data-delivery-url="{% url 'ajax_stock_load_delivery' %}"  id="stockissuingForm">
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Stock Issuing</h1>
  <style>
    table#dataTable tbody tr td a#additem {
       display:none;
   }

  table#dataTable .form-control.error2 {
		border-color: #f50000;
	}
   
   i.fas.fa-plus{
      color:white;
      margin-right: 1px;
      position: relative;
      top: 2px;
   }
   i.fas.fa-pencil-alt{
      color:white;
   }
   i.fas.fa-trash{
      color:white;
   }
   select[readonly]
    {
        pointer-events: none;
    }
 </style>
  {% csrf_token %} 
    <div>
        {% if stock_issuing.status.status_code == 100 %}
        <a href="{% url 'stock_issuing_submit' stock_issuing.pk %}" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm"><i class="fas fa-sign-out-alt"></i> Submit</a>
        {% endif %}
        <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i> Save</button>
        <a href="{% url 'stock_issuing_list' %}" id="back_button" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm"><i class="fas fa-angle-left"></i> Back</a>
    </div>    
  </div>

  <div class="row">
    <div class="col-xl-6 col-md-6 mb-4">
      <div class="card shadow mb-4">
        <a href="#GeneralCard" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="GeneralCard">
          <h6 class="m-0 font-weight-bold text-primary">General</h6>
        </a>
        <div class="collapse show" id="GeneralCard">
          <div class="card-body">
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">
                    {{form.department.label_tag}}
                  </label>
                </div>
                <div class="col col-md-8">
                  {% render_field form.department class="col-md-12 form-control form-control-user" placeholder=form.department.label %}
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">
                    {{form.company.label_tag}}
                  </label>
                </div>
                <div class="col col-md-8">
                  {% render_field form.company class="col-md-12 form-control form-control-user" placeholder=form.company.label %}
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">
                    {{form.project.label_tag}}
                  </label>
                </div>
                <div class="col col-md-8">
                  {% render_field form.project class="col-md-12 form-control form-control-user" placeholder=form.project.label %}
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">
                    {{form.attention.label_tag}}
                  </label>
                </div>
                <div class="col col-md-8">
                  {% render_field form.attention class="col-md-12 form-control form-control-user" placeholder=form.attention.label %}
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">
                    {{form.reference.label_tag}}
                  </label>
                </div>
                <div class="col col-md-8">
                    {% render_field form.reference class="col-md-12 form-control form-control-user" placeholder=form.reference.label %}
                </div>
              </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                  <div class="col col-md-3">
                    <label class="control-label">
                      {{form.location.label_tag}}
                    </label>
                  </div>
                  <div class="col col-md-8">
                    {% render_field form.location class="col-md-12 form-control form-control-user" placeholder=form.location.label %}
                  </div>
                </div>
              </div>
          </div>
        </div>        
      </div>
    </div> 
    <div class="col-xl-6 col-md-6 mb-4">      
      <div class="card shadow mb-4">
        <a href="#DocInfoCard" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="DocInfoCard">
          <h6 class="m-0 font-weight-bold text-primary">Document Info</h6>
        </a>
        <div class="collapse show" id="DocInfoCard">
          <div class="card-body">
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">
                    {{form.revision.label_tag}}
                  </label>
                </div>
                <div class="col col-md-8">
                  {% render_field form.revision class="col-md-12 form-control form-control-user" placeholder=form.revision.label readonly=true %}
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">
                    {{form.document_number.label_tag}}
                  </label>
                </div>
                <div class="col col-md-8">
                  {% render_field form.document_number|attr:"readonly" class="col-md-12 form-control form-control-user" %}
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">
                    {{form.status.label_tag}}
                  </label>
                </div>
                <div class="col col-md-8">
                    {% if stock_issuing.status.status_code == 100 %}
                    <p class="text-info"><strong>{{stock_issuing.status}}</strong></p>
                    {% elif stock_issuing.status.status_code == 300  %}
                    <p class="text-warning"><strong>{{stock_issuing.status}}</strong></p>
                    {% elif stock_issuing.status.status_code == 400 %}
                    <p class="text-success"><strong>{{stock_issuing.status}}</strong></p>
                    {% else %}
                    <p class="text-danger"><strong>{{stock_issuing.status}}</strong></p>
                    {% endif %}
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">
                    {{form.submit_date.label_tag}}
                  </label>
                </div>
                <div class="col col-md-8">
                  {% render_field form.submit_date type="date" class="col-md-12 form-control form-control-user" placeholder=form.submit_date.label readonly=true %}
                </div>
              </div>
            </div>
          </div>
        </div>        
      </div>
    </div>
  </div>  
  <div class="row">
    <div class="col-xl-12 col-md-12 mb-4">
        <div class="card shadow mb-4">
            <a href="#AddressCard" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="AddressCard">
                <h6 class="m-0 font-weight-bold text-primary">Address</h6>
            </a>
            <div class="collapse show" id="AddressCard">
                <div class="card-body">
                  <div class="form-group">
                    <div class="form-row">
                      <div class="col col-md-12">
                        <div class="col-md-6">
                          <div class="form-group">
                              <div class="form-row">
                                  <div class="col col-md-3">
                                      {{form.delivery_to.label_tag}}
                                  </div>
                                  <div class="col col-md-8">
                                      {% render_field form.delivery_to class="col-md-12 form-control form-control-use" %}
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="form-row">
                                  <div class="col col-md-12">
                                      {% render_field form.delivery_address|append_attr:"readonly" class="col-md-12 form-control form-control-use" %}
                                  </div>
                              </div>
                          </div>
                      </div>
                      </div>
                    </div>
                  </div> 
                  <script>
                    $("#id_delivery_to").change(function() {
                        var url = $("#stockissuingForm").attr("data-delivery-url"); // get the url of the `load_cities` view
                        var deliveryId = $(this).val(); // get the selected country ID from the HTML input
        
                        $.ajax({ // initialize an AJAX request
                            url: url, // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                            data: {
                                'delivery_receiver': deliveryId // add the country id to the GET parameters
                            },
                            success: function(data) { // `data` is the return of the `load_cities` view function
                                $("#id_delivery_address").val(data); // replace the contents of the city input with the data that came from the server
                            }
                        });
        
                    });
                </script> 
                </div>
            </div>
        </div>
    </div>
</div>  
  <div class="card shadow mb-4">    
    <div class="card-body">
      <div class="form-row">
        <div class="col col-md-12">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-detail-tab" data-toggle="tab" href="#nav-detail" role="tab" aria-controls="nav-detail" aria-selected="true">Detail</a>
              <a class="nav-item nav-link" id="nav-attachments-tab" data-toggle="tab" href="#nav-attachments" role="tab" aria-controls="nav-attachments" aria-selected="false">Attachments</a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-detail" role="tabpanel" aria-labelledby="nav-detail-tab">
                <br/>
                <div class="form-group">
                  <div class="form-row">
                    <div class="col col-md-12">
                      <div class="col col-md-12">
                        <div class="d-sm-flex align-items-right justify-content-between mb-4">
                          <h1 class="h3 mb-0 text-gray-800"></h1>
                          <a href="#" data-toggle="modal" data-target="#additemModal" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Add New</a>
                        </div>
                        <div class="table-responsive">
                          <table id="mydetails" class="table table-striped table-bordered" style="width:100%" >
                            <thead>
                              <tr>
                                <th>No.</th>  
                                <th data-data="id"></th>
                                <th data-data="stock_issuing"></th>
                                <th data-data="item">Item</th> 
                                <th data-data="quantity">Quantity</th>
                                <th data-data="uom">UOM</th> 
                                <th data-data="additional_description">Additional Description</th>
                                <th data-data="reason">Reason</th>
                                <th data-data="remarks">Remarks</th>
                                <th></th>
                              </tr>
                            </thead>
                          </table>       
                          </div>
                          <script>
                            $(document).ready(function() {
                              var table = $('#mydetails').DataTable( {
                                "ajax": "{% url 'stockissuingdetail-list'%}?format=datatables&pk={{stock_issuing.pk|unlocalize}}",
                                "dom":  "<'row'<'col-sm-12 small'tr>>" +
                                        "<'row'<'col-sm-12 col-md-9'p><'col-sm-12 col-md-3'i>>",
                                "columnDefs": [{
                                "searchable": false,
                                "orderable": false,
                                "targets": 0,
                                "defaultContent": "<i>Not set</i>"
                                }, {
                                    "targets": -1,
                                    "data": null,
                                    "render": function ( data, type, row ) {
                                          return '<a href="#" data-toggle="modal" data-target="#deleteDetailModal" class="btn btn-danger btn-circle btn-sm" onclick="sendDelete(' + row.id + ')"><i class="fas fa-trash"></i></a>';
                                      }
                                },                 
                                { "visible": false, 
                                "targets": [ 1,2 ] }
                                ]        
                              });
                              table.on('order.dt search.dt', function() {
                                table.column(0, {
                                    search: 'applied',
                                    order: 'applied'
                                }).nodes().each(function(cell, i) {
                                    cell.innerHTML = i + 1;
                                });
                              }).draw();
                            });
                        </script> 
                      </div>
                    </div>
                  </div>
                </div>  
              </div>
              <div class="tab-pane fade" id="nav-attachments" role="tabpanel" aria-labelledby="nav-attachments-tab">
                  <br/>
                  <div class="form-group">
                    <div class="form-row">
                      <div class="col col-md-12">
                        <div class="d-sm-flex align-items-right justify-content-between mb-4">
                          <h1 class="h3 mb-0 text-gray-800"></h1>
                          <a href="#" data-toggle="modal" data-target="#addAttachmentModal" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Add New</a>
                        </div>
                        <div class="table-responsive">
                          <table id="myattachments" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                              <tr>
                                <th data-data="id"></th>
                                <th data-data="stock_issuing"></th>
                                <th data-data="attachment">Attachment</th> 
                                <th data-data="attachment_date">Date</th>
                                <th></th>
                              </tr>
                            </thead>
                          </table>       
                          </div>
                          <script>
                            $(document).ready(function() {
                              var table = $('#myattachments').DataTable( {
                                "ajax": "{% url 'stockissuingattachment-list'%}?format=datatables&pk={{stock_issuing.pk|unlocalize}}",
                                "dom":  "<'row'<'col-sm-12 small'tr>>" +
                                        "<'row'<'col-sm-12 col-md-9'p><'col-sm-12 col-md-3'i>>",
                                "columnDefs": [ {
                                    "targets": -1,
                                    "data": null,
                                    "render": function ( data, type, row ) {
                                          return '<a href="' + row.attachment + '/" target="_blank" class="btn btn-primary btn-circle btn-sm"><i class="fas fa-file-download"></i></a>&nbsp;&nbsp;<a href="#" data-toggle="modal" data-target="#deleteAttachmentModal" class="btn btn-danger btn-circle btn-sm" onclick="sendDelete2(' + row.id + ')"><i class="fas fa-trash"></i></a>';
                                      }
                                },                  
                                { "visible": false, 
                                "targets": [ 0, 1 ] }
                                ]        
                              });
                            });
                        </script> 
                      </div>
                    </div>
                  </div>  
                </div>
          </div>            
        </div>
      </div>  
    </div>
  </div>
  {% render_field form.transaction_type|append_attr:"readonly" class="col-md-12 form-control form-control-use" style="visibility:hidden"%} 
</form>

  <!-- Delete Modal-->
  <div class="modal fade" id="deleteDetailModal" tabindex="-1" role="dialog" aria-hidden="true">
    <form action="{% url 'stock_issuing_detail_delete'%}" method="POST" id="deletedetail">
      {% csrf_token %} 
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Are you sure to delete?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          Select "Delete" below if you are ready to delete.
          <input type="hidden" name="hiddenValue" id="hiddenValue" value="" />
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" type="button" data-dismiss="modal">Cancel</button>
          <button class="btn btn-danger" id="deleteDetailButton">Delete</button>
        </div>
      </div>
    </div>
  </form>
  </div>
  <script type="text/javascript">
    function sendDelete(param) {
      var deleteInput = document.getElementById("hiddenValue"); 
      deleteInput.value = param;
    }
  </script>

<script type="text/javascript">
  $("#deletedetail").submit(function(e){
   e.preventDefault(); //prevent default action 
   proceed = true;
   var post_url = $(this).attr("action"); //get form action url
   var request_method = $(this).attr("method"); //get form GET/POST method
   var form_data = new FormData(this); //Creates new FormData object
   
   //if everything's ok, continue with Ajax form submit
   if(proceed){ 
     $.ajax({ //ajax form submit
       url : post_url,
       type: request_method,
       dataType : "json",
       data : form_data,
       contentType: false,
       cache: false,
       processData:false
     }).done(function(res){ 
         var table = $('#mydetails').DataTable(); 
         table.ajax.reload();
         $('#deleteDetailModal').modal('hide');
     });
   }
 });
</script>

  <!-- Add Modal-->
  <div class="modal fade" id="additemModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <form action="{%url 'stock_issuing_detail_create' stock_issuing.pk%}" method="POST" id="addDetail">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Item Detail</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% csrf_token %} 
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col col-md-3">
                            {{form_detail.item.label_tag}}
                            </div>
                            <div class="col col-md-8">
                            {% render_field form_detail.item class="col-md-12 form-control form-control-use" placeholder=form_detail.item.label %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col col-md-3">
                            {{form_detail.quantity.label_tag}}
                            </div>
                            <div class="col col-md-8">
                            {% render_field form_detail.quantity class="col-md-12 form-control form-control-use" %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                      <div class="form-row">
                          <div class="col col-md-3">
                          {{form_detail.additional_description.label_tag}}
                          </div>
                          <div class="col col-md-8">
                          {% render_field form_detail.additional_description class="col-md-12 form-control form-control-use"  placeholder=form_detail.additional_description.label %}
                          </div>
                      </div>
                  </div>
                  <div class="form-group">
                    <div class="form-row">
                        <div class="col col-md-3">
                        {{form_detail.reason.label_tag}}
                        </div>
                        <div class="col col-md-8">
                        {% render_field form_detail.reason class="col-md-12 form-control form-control-use" placeholder=form_detail.reason.label%}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col col-md-3">
                        {{form_detail.remarks.label_tag}}
                        </div>
                        <div class="col col-md-8">
                        {% render_field form_detail.remarks class="col-md-12 form-control form-control-use" placeholder=form_detail.remarks.label%}
                        </div>
                    </div>
                </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" id="addItemButton">Submit</a>
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>          
                </div>
            </form>
      </div>
    </div>
  </div>


<script>


  $("#addDetail").submit(function(e){
    e.preventDefault(); //prevent default action 

    var proceed = true;
    $('#additemModal').modal('hide');
      
      
    var post_url = $(this).attr("action"); //get form action url
    var request_method = $(this).attr("method"); //get form GET/POST method
    var form_data = new FormData(this); //Creates new FormData object
    
    //if everything's ok, continue with Ajax form submit
    if(proceed){ 
      $.ajax({ //ajax form submit
        url : post_url,
        type: request_method,
        data : form_data,
        dataType : "json",
        contentType: false,
        cache: false,
        processData:false
      }).done(function(res){ 
          var table = $('#mydetails').DataTable(); 
              table.ajax.reload();
              $("#addDetail")[0].reset();
      });
    }
  });
  </script>

<div class="modal fade" id="deleteAttachmentModal" tabindex="-1" role="dialog" aria-hidden="true">
    <form action="{% url 'stock_issuing_attachment_delete' stock_issuing.pk %}" method="POST" id="deleteAttachment">
        {% csrf_token %}
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Are you sure to delete?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          Select "Delete" below if you are ready to delete.
          <input type="hidden" name="hiddenValue2" id="hiddenValue2" value="" />
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" type="button" data-dismiss="modal">Cancel</button>
          <button class="btn btn-danger" id="DeleteAttachmentButton">Delete</button>
        </div>
      </div>
    </div>
    </form>
  </div>
  <script type="text/javascript">
    function sendDelete2(param) {
      var deleteInput = document.getElementById("hiddenValue2"); 
      deleteInput.value = param;
    }
  </script>
  <script type="text/javascript">
     $("#deleteAttachment").submit(function(e){
      e.preventDefault(); //prevent default action 
      proceed = true;
      var post_url = $(this).attr("action"); //get form action url
      var request_method = $(this).attr("method"); //get form GET/POST method
      var form_data = new FormData(this); //Creates new FormData object
      
      //if everything's ok, continue with Ajax form submit
      if(proceed){ 
        $.ajax({ //ajax form submit
          url : post_url,
          type: request_method,
          dataType : "json",
          data : form_data,
          contentType: false,
          cache: false,
          processData:false
        }).done(function(res){ 
            var table = $('#myattachments').DataTable(); 
            table.ajax.reload();
            $('#deleteAttachmentModal').modal('hide');
        });
      }
    });
</script>

  
  <!-- Add Modal-->
  <div class="modal fade" id="addAttachmentModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <form action="{% url 'stock_issuing_attachment_create' stock_issuing.pk %}" method="POST" enctype="multipart/form-data" id="addAttachment">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Attachment</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% csrf_token %} 
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col col-md-3">
                            {{form_attachment.attachment.label_tag}}
                            </div>
                            <div class="col col-md-8">
                            {% render_field form_attachment.attachment class="col-md-12 form-control form-control-use" %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col col-md-3">
                            {{form_attachment.attachment_date.label_tag}}
                            </div>
                            <div class="col col-md-8">
                            {% render_field form_attachment.attachment_date type="date" class="col-md-12 form-control form-control-use" %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" id="addAttachmentButton">Submit</a>
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>          
                </div>
            </form>
      </div>
    </div>
  </div>
  
  <script>
    $("#addAttachment").submit(function(e){
        e.preventDefault(); //prevent default action 
        proceed = true;
      $('#addAttachmentModal').modal('hide');  
      var post_url = $(this).attr("action"); //get form action url
      var request_method = $(this).attr("method"); //get form GET/POST method
      var form_data = new FormData(this); //Creates new FormData object
      
      //if everything's ok, continue with Ajax form submit
      if(proceed){ 
        $.ajax({ //ajax form submit
          url : post_url,
          type: request_method,
          data : form_data,
          dataType : "json",
          contentType: false,
          cache: false,
          processData:false
        }).done(function(res){ 
            var table = $('#myattachments').DataTable(); 
                table.ajax.reload();
                $('#addAttachment')[0].reset();
        });
      }
    });
    </script>
{% endblock content %}