{% extends 'main_template.html' %}

{% block content %}
{% load static %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Purchase Order</h1>
    <div>
      <a href="PO" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i> Save</a>
      <a href="{% url 'po_list' %}" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"><i class="fas fa-times fa-sm text-white-50"></i> Cancel</a>
    </div>    
  </div>

  <div class="row">
    <div class="col-xl-6 col-md-6 mb-4">
      <div class="card shadow mb-4">
        <a href="#GeneralCard" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="GeneralCard">
          <h6 class="m-0 font-weight-bold text-primary">General</h6>
        </a>
        <div class="collapse show" id="GeneralCard">
          <div class="card-body">
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">Vendor</label>
                </div>
                <div class="col col-md-8">
                  <input type="text" class="col-md-12 form-control form-control-user">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">Name</label>
                </div>
                <div class="col col-md-8">
                  <input type="text" class="col-md-12 form-control form-control-user">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">Currency</label>
                </div>
                <div class="col col-md-8">
                  <input type="text" class="col-md-12 form-control form-control-user">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">Company</label>
                </div>
                <div class="col col-md-8">
                  <input type="text" class="col-md-12 form-control form-control-user">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">Trans. Type</label>
                </div>
                <div class="col col-md-8">
                  <input type="text" class="col-md-12 form-control form-control-user">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">Project</label>
                </div>
                <div class="col col-md-8">
                  <input type="text" class="col-md-12 form-control form-control-user">
                </div>
              </div>
            </div>
          </div>
        </div>        
      </div>
    </div>  
    <div class="col-xl-6 col-md-6 mb-4">      
      <div class="card shadow mb-4">
        <a href="#DocInfoCard" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="DocInfoCard">
          <h6 class="m-0 font-weight-bold text-primary">Document Info</h6>
        </a>
        <div class="collapse show" id="DocInfoCard">
          <div class="card-body">
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">Revision</label>
                </div>
                <div class="col col-md-8">
                  <input type="text" class="col-md-12 form-control form-control-user">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">Document No.</label>
                </div>
                <div class="col col-md-8">
                  <input type="text" class="col-md-12 form-control form-control-user">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">Status</label>
                </div>
                <div class="col col-md-8">
                  <input type="text" class="col-md-12 form-control form-control-user">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">Submit Date</label>
                </div>
                <div class="col col-md-8">
                  <input type="text" class="col-md-12 form-control form-control-user">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">Subject</label>
                </div>
                <div class="col col-md-8">
                  <input type="text" class="col-md-12 form-control form-control-user">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">Reference</label>
                </div>
                <div class="col col-md-8">
                  <input type="text" class="col-md-12 form-control form-control-user">
                </div>
              </div>
            </div>
          </div>
        </div>        
      </div>
    </div>
  </div>  
  <div class="row">
    <div class="col-xl-12 col-md-12 mb-4">
      <div class="card shadow mb-4">
        <a href="#AddressCard" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="AddressCard">
          <h6 class="m-0 font-weight-bold text-primary">Address</h6>
        </a>
        <div class="collapse show" id="AddressCard">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="form-row">
                    <div class="col col-md-3">
                      <label class="control-label">Delivery Address</label>
                    </div>
                    <div class="col col-md-8">
                      <input type="text" class="col-md-12 form-control form-control-user">
                    </div>
                  </div>
                  <br/>
                  <div class="form-row">
                    <div class="col col-md-12">
                      <textarea name="message" rows="3" cols="30" class="col-md-12 form-control form-control-user"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="form-row">
                    <div class="col col-md-3">
                      <label class="control-label">Billing Address</label>
                    </div>
                    <div class="col col-md-8">
                      <input type="text" class="col-md-12 form-control form-control-user">
                    </div>
                  </div>
                  <br/>
                  <div class="form-row">
                    <div class="col col-md-12">
                      <textarea name="message" rows="3" cols="30" class="col-md-12 form-control form-control-user"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>      
      </div>
    </div>    
  </div>
  
  <div class="card shadow mb-4">    
    <div class="card-body">
      <div class="d-sm-flex align-items-right justify-content-end mb-4">
        <div>
          <a href="#" data-toggle="modal" data-target="#logoutModal"class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Add Detail</a>
        </div>    
      </div>
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Item Code</th>
              <th>Item Description</th>
              <th>Quantity</th>
              <th>UoM</th>
              <th>Unit Price</th>
              <th>Amount</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>MKTCAL</td>
              <td>CREATIVE AGENCY PITCH</td>
              <td>123</td>
              <td>Unit</td>
              <td>123.00</td>
              <td>15,129.00</td>
              <td>
                  <a href="#" class="btn btn-info btn-circle btn-sm">
                    <i class="fas fa-pencil-alt"></i>
                    </a>
                    <a href="#" class="btn btn-danger btn-circle btn-sm">
                        <i class="fas fa-trash"></i>
                      </a>
                </td>
            </tr> 
            <tr>
              <td>STNRY-100073</td>
              <td>HP Laserjet-Q2612A</td>
              <td>100</td>
              <td>PC</td>
              <td>0.00</td>
              <td>0.00</td>
              <td>
                  <a href="#" class="btn btn-info btn-circle btn-sm">
                    <i class="fas fa-pencil-alt"></i>
                    </a>
                    <a href="#" class="btn btn-danger btn-circle btn-sm">
                        <i class="fas fa-trash"></i>
                      </a>
                </td>
            </tr> 
            <tr>
              <td>EF-1000</td>
              <td>Superior Twin c/w Breakfast</td>
              <td>1</td>
              <td>Night</td>
              <td>0.00</td>
              <td>0.00</td>
              <td>
                  <a href="#" class="btn btn-info btn-circle btn-sm">
                    <i class="fas fa-pencil-alt"></i>
                    </a>
                    <a href="#" class="btn btn-danger btn-circle btn-sm">
                        <i class="fas fa-trash"></i>
                      </a>
                </td>
            </tr>           
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4 col-md-4 mb-4">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Summary</h6>
        </div>
        <div class="card-body">   
          <div class="form-group">
            <div class="form-row">
              <div class="col col-md-3">
                <label class="control-label">Sub Total</label>
              </div>
              <div class="col col-md-8">
                <input type="text" class="col-md-12 form-control form-control-user">
              </div>
            </div> 
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col col-md-3">
                <label class="control-label">Discount</label>
              </div>
              <div class="col col-md-8">
                <input type="text" class="col-md-12 form-control form-control-user">
              </div>
            </div>  
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col col-md-3">
                <label class="control-label">Tax Amount</label>
              </div>
              <div class="col col-md-8">
                <input type="text" class="col-md-12 form-control form-control-user">
              </div>
            </div> 
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col col-md-3">
                <label class="control-label">Total Amount</label>
              </div>
              <div class="col col-md-8">
                <input type="text" class="col-md-12 form-control form-control-user">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-md-4 mb-4">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Remarks</h6>
        </div>
        <div class="card-body">  
          <div class="form-row">
            <div class="col col-md-12">
                {% csrf_token %} 
                {{form.media}}
                {{form.remarks}}
            </div>
          </div>     
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-md-4 mb-4">      
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Payment Info</h6>
        </div>
        <div class="card-body">
          <div class="form-group">
            <div class="form-row">
              <div class="col col-md-12">
                <label class="control-label">Payment Term</label>
              </div>
            </div> 
            <div class="form-row">
              <div class="col col-md-12">
                <textarea name="remarks" rows="1" cols="30" class="col-md-12 form-control form-control-user"></textarea>
              </div>
            </div>  
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col col-md-12">
                <label class="control-label">Payment Schedule</label>
              </div>
            </div>  
            <div class="form-row">
              <div class="col col-md-12">
                <textarea name="remarks" rows="4" cols="30" class="col-md-12 form-control form-control-user"></textarea>
              </div>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div> 

{% endblock content %}