{% extends 'main_template.html' %}

{% block content %}
{% load static %}
{% load widget_tweaks %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Payment Request(Detail) - {{py.transaction_type}}</h1>
<form method="post" novalidate>
  <style>
    table#dataTable tbody tr td a#additem {
       display:none;
   }

  table#dataTable .form-control.error2 {
		border-color: #f50000;
	}
   
   i.fas.fa-plus{
      color:white;
      margin-right: 1px;
      position: relative;
      top: 2px;
   }
   i.fas.fa-pencil-alt{
      color:white;
   }
   i.fas.fa-trash{
      color:white;
   }
 </style>
 <script type="text/javascript">
   $(document).ready(function(){
     $('[data-toggle="tooltip"]').tooltip();
     var actions = $("table#dataTable td:last-child").html();
     // Append table with add row form on add new button click
       $(".add-new").click(function(){
       $(this).attr("disabled", "disabled");
       var index = $("table#dataTable tbody tr:last-child").index();
       
           var row = '<tr>' +
               '<td><input type="text" class="form-control" name="name" id="name"></td>' +
               '<td><input type="text" class="form-control" name="department" id="department"></td>' +
               '<td><input type="text" class="form-control" name="phone" id="phone"></td>' +
               '<td><input type="text" class="form-control" name="phone" id="phone"></td>'+
               '<td><input type="text" class="form-control" name="phone" id="phone"></td>'+
               '<td>' + actions + '</td>' +
           '</tr>';
         $("table").append(row);		
       $("table tbody tr").eq(index + 1).find(".add, .edit").toggle();
           $('[data-toggle="tooltip"]').tooltip();
           $(".add").eq(index + 1).css("display", "inline-block");
       });
     // Add row on add button click
     $(document).on("click", ".add", function(){
       var empty = false;
       var input = $(this).parents("tr").find('input[type="text"]');
           input.each(function(){
         if(!$(this).val()){
           $(this).addClass("error2");
           empty = true;
         } else{
                   $(this).removeClass("error2");
            }
       });
       $(this).parents("tr").find(".error2").first().focus();
       if(!empty){
         input.each(function(){
           $(this).parent("td").html($(this).val());
         });			
         $(this).parents("tr").find(".add, .edit").toggle();
         $(".add-new").removeAttr("disabled");
       }		
       });
     // Edit row on edit button click
     $(document).on("click", ".edit", function(){		
           $(this).parents("tr").find("td:not(:last-child)").each(function(){
         $(this).html('<input type="text" class="form-control" value="' + $(this).text() + '">');
       });		
       $(this).parents("tr").find(".add, .edit").toggle();
       $(".add-new").attr("disabled", "disabled");
       });
     // Delete row on delete button click
     $(document).on("click", ".delete", function(){
           $(this).parents("tr").remove();
       $(".add-new").removeAttr("disabled");
       });
   });
   </script> 
  {% csrf_token %} 
    <div>
      {% if py.status.status_code == "100" or py.status == "500" %}
      <a href="{% url 'approval_detail' py.approval.pk %}" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm"><i class="fas fa-sign-out-alt"></i> Submit for Approval</a>
      <a href="{% url 'py_update' py.pk %}" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-pencil-alt"></i> Edit</a>
      {% endif %}  
      {% if py.transaction_type.transaction_type_name == "Other" %}
      <a href="{% url 'pylist' %}" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm"><i class="fas fa-angle-left"></i> Back</a>
      {% elif py.transaction_type.transaction_type_name == "Petty Cash" %}
      <a href="{% url 'pylist_pettycash' %}" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm"><i class="fas fa-angle-left"></i> Back</a>
      {% elif py.transaction_type.transaction_type_name == "CashBack n Rebates" %}
      <a href="{% url 'pylist_cashback' %}" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm"><i class="fas fa-angle-left"></i> Back</a>
      {% elif py.transaction_type.transaction_type_name == "Sales Commission" %}
      <a href="{% url 'pylist_salescommission' %}" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm"><i class="fas fa-angle-left"></i> Back</a>
      {% endif %}
    </div>    
  </div>

  <div class="row">
    <div class="col-xl-6 col-md-6 mb-4">
      <div class="card shadow mb-4">
        <a href="#GeneralCard" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="GeneralCard">
          <h6 class="m-0 font-weight-bold text-primary">General</h6>
        </a>
        <div class="collapse show" id="GeneralCard">
          <div class="card-body">
            {%if py.vendor == null %}
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">
                    {{form.employee.label_tag}}
                  </label>
                </div>
                <div class="col col-md-8">
                  {% render_field form.employee class="col-md-12 form-control form-control-user" placeholder=form.employee.label %}
                </div>
              </div>
            </div>
            {% else %}
              <div class="form-group">
                <div class="form-row">
                  <div class="col col-md-3">
                    <label class="control-label">
                      {{form.vendor.label_tag}}
                    </label>
                  </div>
                  <div class="col col-md-8">
                    {% render_field form.vendor class="col-md-12 form-control form-control-user" placeholder=form.vendor.label %}
                  </div>
                </div>
              </div>
            {% endif %}
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">
                    {{form.currency.label_tag}}
                  </label>
                </div>
                <div class="col col-md-8">
                  {% render_field form.currency class="col-md-12 form-control form-control-user" placeholder=form.currency.label %}
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">
                    {{form.company.label_tag}}
                  </label>
                </div>
                <div class="col col-md-8">
                  {% render_field form.company class="col-md-12 form-control form-control-user" placeholder=form.company.label %}
                </div>
              </div>
            </div>
            <div class="form-group" style="display:none">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">
                    {{form.transaction_type.label_tag}}
                  </label>
                </div>
                <div class="col col-md-8">
                  {% render_field form.transaction_type class="col-md-12 form-control form-control-user" placeholder=form.transaction_type.label %}
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">
                    {{form.project.label_tag}}
                  </label>
                </div>
                <div class="col col-md-8">
                  {% render_field form.project class="col-md-12 form-control form-control-user" placeholder=form.project.label %}
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">
                    {{form.payment_mode.label_tag}}
                  </label>
                </div>
                <div class="col col-md-8">
                  {% render_field form.payment_mode class="col-md-12 form-control form-control-user" placeholder=form.payment_mode.label %}
                </div>
              </div>
            </div>
          </div>
        </div>        
      </div>
    </div>  
    <div class="col-xl-6 col-md-6 mb-4">      
      <div class="card shadow mb-4">
        <a href="#DocInfoCard" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="DocInfoCard">
          <h6 class="m-0 font-weight-bold text-primary">Document Info</h6>
        </a>
        <div class="collapse show" id="DocInfoCard">
          <div class="card-body">
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">
                    {{form.revision.label_tag}}
                  </label>
                </div>
                <div class="col col-md-8">
                  {% render_field form.revision|append_attr:"disabled" class="col-md-12 form-control form-control-user" placeholder=form.revision.label %}
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">
                    {{form.document_number.label_tag}}
                  </label>
                </div>
                <div class="col col-md-8">
                  {% render_field form.document_number|append_attr:"disabled" class="col-md-12 form-control form-control-user" placeholder=form.document_number.label %}
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">
                    {{form.status.label_tag}}
                  </label>
                </div>
                <div class="col col-md-8">
                  <!-- {% if py.status == "D" %}
                      <strong>Draft</strong>
                      {% elif py.status == "P" %}
                      <strong>Pending Approval</strong>
                      {% elif py.status == "A" %}
                      <strong>Approved</strong>
                      {% elif py.status == "C" %}
                      <strong>Closed</strong>
                      {% else %}
                      <strong>Rejected</strong>
                  {% endif %} -->
                  <strong>{{py.status}}</strong>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">
                    {{form.submit_date.label_tag}}
                  </label>
                </div>
                <div class="col col-md-8">
                  {% render_field form.submit_date type="date" class="col-md-12 form-control form-control-user" placeholder=form.submit_date.label readonly=true %}
                </div>
              </div>
            </div>
          </div>
        </div>        
      </div>
    </div>
  </div>  

    <div class="card shadow mb-4">    
    <div class="card-body">
      <div class="form-group">
        <div class="form-row">
          <div class="col col-md-3">
            <label class="control-label">
              {{form.reference.label_tag}}
            </label>
          </div>
          <div class="col col-md-8">
            {% render_field form.reference|append_attr:"disabled" class="col-md-12 form-control form-control-user" placeholder=form.reference.label %}
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="form-row">
          <div class="col col-md-3">
            <label class="control-label">
              {{form.subject.label_tag}}
            </label>
          </div>
          <div class="col col-md-8">
            {% render_field form.subject|append_attr:"disabled"  rows="3" class="col-md-12 form-control form-control-user" placeholder=form.subject.label %}
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col col-md-12">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-item-tab" data-toggle="tab" href="#nav-item" role="tab" aria-controls="nav-item" aria-selected="true">Item</a>
              <a class="nav-item nav-link" id="nav-details-tab" data-toggle="tab" href="#nav-details" role="tab" aria-controls="nav-details" aria-selected="true">Remarks</a>
              <a class="nav-item nav-link" id="nav-attachments-tab" data-toggle="tab" href="#nav-attachments" role="tab" aria-controls="nav-attachments" aria-selected="false">Attachments</a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-item" role="tabpanel" aria-labelledby="nav-item-tab">
              <br/>
              <div class="form-group">
                <div class="form-row">
                  <div class="col col-md-12">
                    <div class="col col-md-12">
                      <div class="d-sm-flex align-items-right justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800"></h1>
                      </div>
                      <div class="table-responsive">
                        <table id="myitems" class="table table-striped table-bordered" style="width:100%" data-server-side="true">
                          <thead>
                            <tr>
                              <th data-data="id"></th>
                              <th data-data="py"></th>
                              <th data-data="linenum">No.</th>
                              <th data-data="item_description">Item Description</th> 
                              <th data-data="price">Price</th>
                              <th data-data="tax">Tax</th> 
                              <th data-data="line_total">Line Total</th>
                            </tr>
                          </thead>
                        </table>       
                        </div>
                        <script>
                          $(document).ready(function() {
                            var table = $('#myitems').DataTable( {
                              "ajax": "../api/pyitem/?format=datatables&pk={{py.pk}}",
                              "dom":  "<'row'<'col-sm-12 small'tr>>" +
                                      "<'row'<'col-sm-12 col-md-9'p><'col-sm-12 col-md-3'i>>",
                              "columnDefs": [                  
                              { "visible": false, 
                              "targets": [ 0, 1 ] }
                              ]        
                            });
                          });
                      </script> 
                    </div>
                  </div>
                </div>
              </div>  
            </div>
            <div class="tab-pane fade show" id="nav-details" role="tabpanel" aria-labelledby="nav-details-tab">
              <br/>
              <div class="form-group">
                <div class="form-row">
                  <div class="col col-md-12">
                    {{form.media}}
                    {{form.remarks|append_attr:"disabled"}}
                  </div>
                </div>
              </div>  
            </div>
            <div class="tab-pane fade" id="nav-attachments" role="tabpanel" aria-labelledby="nav-attachments-tab">
              <br/>
              <div class="form-group">
                <div class="form-row">
                  <div class="col col-md-12">
                    <div class="d-sm-flex align-items-right justify-content-between mb-4">
                      <h1 class="h3 mb-0 text-gray-800"></h1>
                    </div>
                    <div class="table-responsive">
                      <table id="myattachments" class="table table-striped table-bordered" style="width:100%" data-server-side="true">
                        <thead>
                          <tr>
                            <th data-data="id"></th>
                            <th data-data="py"></th>
                            <th data-data="attachment">Attachment</th> 
                            <th data-data="attachment_date">Date</th>
                            <th></th>
                          </tr>
                        </thead>
                      </table>       
                      </div>
                      <script>
                        $(document).ready(function() {
                          var table = $('#myattachments').DataTable( {
                            "ajax": "../api/pyattachment/?format=datatables&pk={{py.pk}}",
                            "dom":  "<'row'<'col-sm-12 small'tr>>" +
                                    "<'row'<'col-sm-12 col-md-9'p><'col-sm-12 col-md-3'i>>",
                            "columnDefs": [ {
                                "targets": -1,
                                "data": null,
                                "render": function ( data, type, row ) {
                                      return '<a href="' + row.attachment + '/" target="_blank" class="btn btn-primary btn-circle btn-sm"><i class="fas fa-file-download"></i></a>&nbsp;&nbsp;';
                                  }
                            },                  
                            { "visible": false, 
                            "targets": [ 0, 1 ] }
                            ]        
                          });
                        });
                    </script> 
                  </div>
                </div>
              </div>  
            </div>
          </div>            
        </div>
      </div>  
    </div>
  </div> 

  <div class="row">
    <div class="col-xl-6 col-md-4 mb-4">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Summary</h6>
        </div>
        <div class="card-body">   
          <div class="form-group">
            <div class="form-row">
              <div class="col col-md-3">
                <label class="control-label">{{form.sub_total.label_tag}}</label>
              </div>
              <div class="col col-md-8">
                {% render_field form.sub_total|append_attr:"disabled" class="col-md-12 form-control form-control-user" placeholder=form.sub_total.label %}
              </div>
            </div> 
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col col-md-3">
                <label class="control-label">{{form.discount_amount.label_tag}}</label>
              </div>
              <div class="col col-md-2">
                {% render_field form.discount_rate|append_attr:"disabled" class="col-md-12 form-control form-control-user" %}
              </div>
              <div class="col col-md-6">
                {% render_field form.discount_amount|append_attr:"disabled" class="col-md-12 form-control form-control-user" %}
              </div>
            </div>  
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col col-md-3">
                <label class="control-label">{{form.tax_amount.label_tag}}</label>
              </div>
              <div class="col col-md-8">
                {% render_field form.tax_amount|append_attr:"disabled" class="col-md-12 form-control form-control-user" placeholder=form.tax_amount.label %}
              </div>
            </div> 
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col col-md-3">
                <label class="control-label">{{form.total_amount.label_tag}}</label>
              </div>
              <div class="col col-md-8">
                {% render_field form.total_amount|append_attr:"disabled" class="col-md-12 form-control form-control-user" placeholder=form.total_amount.label %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

{% endblock content %}