{% extends 'main_template.html' %}

{% block content %}
{% load static %}
{% load widget_tweaks %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Payment Request(Update) - {{py.transaction_type}}</h1>
<form method="post" novalidate>
  <style>
    table#dataTable tbody tr td a#additem {
       display:none;
   }

  table#dataTable .form-control.error2 {
		border-color: #f50000;
	}
   
   i.fas.fa-plus{
      color:white;
      margin-right: 1px;
      position: relative;
      top: 2px;
   }
   i.fas.fa-pencil-alt{
      color:white;
   }
   i.fas.fa-trash{
      color:white;
   }
   select[readonly]
    {
        pointer-events: none;
    }
 </style>
 <script type="text/javascript">
   $(document).ready(function(){
     $("input[name='discount_amount']").change(function(){
           var discount_amount = $("input[name='discount_amount']").val();
           var sub_total =  $("input[name='sub_total']").val();
           var tax_amount = $("input[name='tax_amount']").val();
           if(sub_total > 0){
              var total_amount_afterdiscount = (sub_total - discount_amount);
              var after_add_taxamount = parseFloat(total_amount_afterdiscount) + parseFloat(tax_amount)
              var discount_rate = (discount_amount/sub_total) * 100 ;
    
              $("input[name='total_amount']").val(parseFloat(after_add_taxamount).toFixed(2));
              $("input[name='discount_rate']").val(parseFloat(discount_rate).toFixed(2));
           }else{
              alert("discount cannot be calculate because subtotal is 0");
              $("input[name='discount_amount']").val(0.00);
              $("input[name='total_amount']").val(0.00);
              $("input[name='discount_rate']").val(0.00);
           }
         });
    });
    function recalculate(){
      var discount_amount = $("input[name='discount_amount']").val();
           var sub_total =  $("input[name='sub_total']").val();
           var tax_amount = $("input[name='tax_amount']").val();
           if(sub_total > 0){
              var total_amount_afterdiscount = (sub_total - discount_amount);
              var after_add_taxamount = parseFloat(total_amount_afterdiscount) + parseFloat(tax_amount)
              var discount_rate = (discount_amount/sub_total) * 100 ;
    
              $("input[name='total_amount']").val(parseFloat(after_add_taxamount).toFixed(2));
              $("input[name='discount_rate']").val(parseFloat(discount_rate).toFixed(2));
           }else{
              $("input[name='discount_amount']").val(0.00);
              $("input[name='total_amount']").val(0.00);
              $("input[name='discount_rate']").val(0.00);
           }
    }
  </script> 
  {% csrf_token %} 
    <div>
      <a href="{% url 'py_send_approval' py.pk %}" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm"><i class="fas fa-sign-out-alt"></i> Submit for Approval</a>
      <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i> Save</button>
      <a href="{% url 'pylist' py.transaction_type.pk %}" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"><i class="fas fa-times fa-sm text-white-50"></i> Cancel</a>
    </div>    
  </div>

  <div class="row">
    <div class="col-xl-6 col-md-6 mb-4">
      <div class="card shadow mb-4">
        <a href="#GeneralCard" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="GeneralCard">
          <h6 class="m-0 font-weight-bold text-primary">General</h6>
        </a>
        <div class="collapse show" id="GeneralCard">
          <div class="card-body">
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">
                    Pay To : 
                  </label>
                </div>
                <div class="col col-md-8">
                  {%if py.vendor == null %}
                  <label><input type="radio" name="checkpay" value="checkvendor" disabled>Vendor</label> &nbsp;&nbsp; <label><input type="radio" name="checkpay" value="checkemployee" checked disabled>Employee</label>
                  {% else %}
                  <label><input type="radio" name="checkpay" value="checkvendor" checked disabled>Vendor</label> &nbsp;&nbsp; <label><input type="radio" name="checkpay" value="checkemployee" disabled>Employee</label>
                  {% endif %}
                </div>
              </div>
            </div>
            {%if py.vendor == null %}
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">
                    {{form.employee.label_tag}}
                  </label>
                </div>
                <div class="col col-md-8">
                  {% render_field form.employee class="col-md-12 form-control form-control-user" placeholder=form.employee.label %}
                </div>
              </div>
            </div>
            {% else %}
              <div class="form-group">
                <div class="form-row">
                  <div class="col col-md-3">
                    <label class="control-label">
                      {{form.vendor.label_tag}}
                    </label>
                  </div>
                  <div class="col col-md-8">
                    {% render_field form.vendor class="col-md-12 form-control form-control-user" placeholder=form.vendor.label %}
                  </div>
                </div>
              </div>
            {% endif %}
            <div class="form-group" id="employeelabel" style="display:none;">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">
                    {{form.employee.label_tag}}
                  </label>
                </div>
                <div class="col col-md-8">
                  {% render_field form.employee class="col-md-12 form-control form-control-user" placeholder=form.vendor.label %}
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">
                    {{form.currency.label_tag}}
                  </label>
                </div>
                <div class="col col-md-8">
                  {% render_field form.currency class="col-md-12 form-control form-control-user" placeholder=form.currency.label %}
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">
                    {{form.company.label_tag}}
                  </label>
                </div>
                <div class="col col-md-8">
                  {% render_field form.company|append_attr:"readonly" class="col-md-12 form-control form-control-user" placeholder=form.company.label %}
                </div>
              </div>
            </div>
            <div class="form-group" style="display:none">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">
                    {{form.transaction_type.label_tag}}
                  </label>
                </div>
                <div class="col col-md-8">
                  {% render_field form.transaction_type|append_attr:"readonly" class="col-md-12 form-control form-control-user" placeholder=form.transaction_type.label %}
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">
                    {{form.project.label_tag}}
                  </label>
                </div>
                <div class="col col-md-8">
                  {% render_field form.project class="col-md-12 form-control form-control-user" placeholder=form.project.label %}
                </div>
              </div>
            </div>
            {%if py.transaction_type.transaction_type_name == "Petty Cash"%}
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">
                    {{form.payment_mode.label_tag}}
                  </label>
                </div>
                <div class="col col-md-8">
                  {% render_field form.payment_mode|append_attr:"readonly" class="col-md-12 form-control form-control-user" placeholder=form.payment_mode.label %}
                </div>
              </div>
            </div>
            {%else%}
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">
                    {{form.payment_mode.label_tag}}
                  </label>
                </div>
                <div class="col col-md-8">
                  {% render_field form.payment_mode class="col-md-12 form-control form-control-user" placeholder=form.payment_mode.label %}
                </div>
              </div>
            </div>
            {%endif%}
          </div>
        </div>        
      </div>
    </div>  
    <div class="col-xl-6 col-md-6 mb-4">      
      <div class="card shadow mb-4">
        <a href="#DocInfoCard" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="DocInfoCard">
          <h6 class="m-0 font-weight-bold text-primary">Document Info</h6>
        </a>
        <div class="collapse show" id="DocInfoCard">
          <div class="card-body">
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">
                    {{form.revision.label_tag}}
                  </label>
                </div>
                <div class="col col-md-8">
                  {% render_field form.revision|append_attr:"readonly" class="col-md-12 form-control form-control-user" placeholder=form.revision.label %}
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">
                    {{form.document_number.label_tag}}
                  </label>
                </div>
                <div class="col col-md-8">
                  {% render_field form.document_number|append_attr:"readonly" class="col-md-12 form-control form-control-user" placeholder=form.document_number.label %}
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">
                    {{form.status.label_tag}}
                  </label>
                </div>
                <div class="col col-md-8">
                  <!-- {% if py.status == "D" %}
                  <strong>Draft</strong>
                  {% elif py.status == "P" %}
                  <strong>Pending Approval</strong>
                  {% elif py.status == "A" %}
                  <strong>Approved</strong>
                  {% else %}
                  <strong>Rejected</strong>
                  {% endif %} -->
                  <strong>{{py.status}}</strong>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">
                    {{form.submit_date.label_tag}}
                  </label>
                </div>
                <div class="col col-md-8">
                  {% render_field form.submit_date type="date" class="col-md-12 form-control form-control-user" placeholder=form.submit_date.label readonly=true %}
                </div>
              </div>
            </div>
          </div>
        </div>        
      </div>
    </div>
  </div> 
  <div class="card shadow mb-4">    
    <div class="card-body">
      <div class="form-group">
        <div class="form-row">
          <div class="col col-md-3">
            <label class="control-label">
              {{form.reference.label_tag}}
            </label>
          </div>
          <div class="col col-md-8">
            {% render_field form.reference class="col-md-12 form-control form-control-user" placeholder=form.reference.label %}
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="form-row">
          <div class="col col-md-3">
            <label class="control-label">
              {{form.subject.label_tag}}
            </label>
          </div>
          <div class="col col-md-8">
            {% render_field form.subject rows="3" class="col-md-12 form-control form-control-user" placeholder=form.subject.label %}
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col col-md-12">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-item-tab" data-toggle="tab" href="#nav-item" role="tab" aria-controls="nav-item" aria-selected="true">Item</a>
              <a class="nav-item nav-link" id="nav-details-tab" data-toggle="tab" href="#nav-details" role="tab" aria-controls="nav-details" aria-selected="true">Remarks</a>
              <a class="nav-item nav-link" id="nav-attachments-tab" data-toggle="tab" href="#nav-attachments" role="tab" aria-controls="nav-attachments" aria-selected="false">Attachments</a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-item" role="tabpanel" aria-labelledby="nav-item-tab">
              <br/>
              <div class="form-group">
                <div class="form-row">
                  <div class="col col-md-12">
                    <div class="col col-md-12">
                      <div class="d-sm-flex align-items-right justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800"></h1>
                        <a href="#" data-toggle="modal" data-target="#additemModal" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Add New</a>
                      </div>
                      <div class="table-responsive">
                        <table id="myitems" class="table table-striped table-bordered" style="width:100%" >
                          <thead>
                            <tr>
                              <th data-data="id"></th>
                              <th data-data="py"></th>
                              <th data-data="linenum">No.</th>
                              <th data-data="item_description">Item Description</th> 
                              <th data-data="price">Price</th>
                              <th data-data="tax">Tax</th> 
                              <th data-data="line_total">Line Total</th>
                              <th></th>
                            </tr>
                          </thead>
                        </table>       
                        </div>
                        <script>
                          $(document).ready(function() {
                            var table = $('#myitems').DataTable( {
                              "ajax": "{% url 'pyitem-list'%}?format=datatables&pk={{py.pk}}",
                              "dom":  "<'row'<'col-sm-12 small'tr>>" +
                                      "<'row'<'col-sm-12 col-md-9'p><'col-sm-12 col-md-3'i>>",
                              "columnDefs": [ {
                                  "targets": -1,
                                  "data": null,
                                  "render": function ( data, type, row ) {
                                        return '<a href="#" data-toggle="modal" data-target="#deletePYItemModal" class="btn btn-danger btn-circle btn-sm" onclick="sendDelete(' + row.id + ')"><i class="fas fa-trash"></i></a>';
                                    }
                              },                  
                              { "visible": false, 
                              "targets": [ 0, 1 ] }
                              ]        
                            });
                          });
                      </script> 
                    </div>
                  </div>
                </div>
              </div>  
            </div>
            <div class="tab-pane fade show" id="nav-details" role="tabpanel" aria-labelledby="nav-details-tab">
              <br/>
              <div class="form-group">
                <div class="form-row">
                  <div class="col col-md-12">
                    {{form.media}}
                    {{form.remarks}}
                  </div>
                </div>
              </div>  
            </div>
            <div class="tab-pane fade" id="nav-attachments" role="tabpanel" aria-labelledby="nav-attachments-tab">
              <br/>
              <div class="form-group">
                <div class="form-row">
                  <div class="col col-md-12">
                    <div class="d-sm-flex align-items-right justify-content-between mb-4">
                      <h1 class="h3 mb-0 text-gray-800"></h1>
                      <a href="#" data-toggle="modal" data-target="#addPYAttachmentModal" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Add New</a>
                    </div>
                    <div class="table-responsive">
                      <table id="myattachments" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                          <tr>
                            <th data-data="id"></th>
                            <th data-data="py"></th>
                            <th data-data="attachment">Attachment</th> 
                            <th data-data="attachment_date">Date</th>
                            <th></th>
                          </tr>
                        </thead>
                      </table>       
                      </div>
                      <script>
                        $(document).ready(function() {
                          var table = $('#myattachments').DataTable( {
                            "ajax": "{% url 'pyattachment-list'%}?format=datatables&pk={{py.pk}}",
                            "dom":  "<'row'<'col-sm-12 small'tr>>" +
                                    "<'row'<'col-sm-12 col-md-9'p><'col-sm-12 col-md-3'i>>",
                            "columnDefs": [ {
                                "targets": -1,
                                "data": null,
                                "render": function ( data, type, row ) {
                                      return '<a href="' + row.attachment + '/" target="_blank" class="btn btn-primary btn-circle btn-sm"><i class="fas fa-file-download"></i></a>&nbsp;&nbsp;<a href="#" data-toggle="modal" data-target="#deletePYAttachmentModal" class="btn btn-danger btn-circle btn-sm" onclick="sendDelete2(' + row.id + ')"><i class="fas fa-trash"></i></a>';
                                  }
                            },                  
                            { "visible": false, 
                            "targets": [ 0, 1 ] }
                            ]        
                          });
                        });
                    </script> 
                  </div>
                </div>
              </div>  
            </div>
          </div>            
        </div>
      </div>  
    </div>
  </div> 
  <div class="row">
    <div class="col-xl-6 col-md-4 mb-4">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Summary</h6>
        </div>
        <div class="card-body">   
          <div class="form-group">
            <div class="form-row">
              <div class="col col-md-3">
                <label class="control-label">{{form.sub_total.label_tag}}</label>
              </div>
              <div class="col col-md-8">
                {% render_field form.sub_total|append_attr:"readonly"  class="col-md-12 form-control form-control-user" placeholder=form.sub_total.label %}
              </div>
            </div> 
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col col-md-3">
                <label class="control-label">{{form.discount_amount.label_tag}}</label>
              </div>
              <div class="col col-md-2">
                {% render_field form.discount_rate|append_attr:"readonly"  class="col-md-12 form-control form-control-user" %}
              </div>
              <div class="col col-md-6">
                {% render_field form.discount_amount class="col-md-12 form-control form-control-user" %}
              </div>
            </div>  
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col col-md-3">
                <label class="control-label">{{form.tax_amount.label_tag}}</label>
              </div>
              <div class="col col-md-8">
                {% render_field form.tax_amount|append_attr:"readonly"  class="col-md-12 form-control form-control-user" placeholder=form.tax_amount.label %}
              </div>
            </div> 
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col col-md-3">
                <label class="control-label">{{form.total_amount.label_tag}}</label>
              </div>
              <div class="col col-md-8">
                {% render_field form.total_amount|append_attr:"readonly"  class="col-md-12 form-control form-control-user" placeholder=form.total_amount.label %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</form>

  <!-- Delete Modal-->
  <div class="modal fade" id="deletePYItemModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Are you sure to delete?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          Select "Delete" below if you are ready to delete.
          <input type="hidden" name="hiddenValue" id="hiddenValue" value="" />
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-danger" href="#" id="deletePYItemButton">Delete</a>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    function sendDelete(param) {
      var deleteInput = document.getElementById("hiddenValue"); 
      deleteInput.value = param;
    }
  </script>
<script>
  $("#deletePYItemButton").click(function(e){
      e.preventDefault(); //prevent default action 
      proceed = true;
      $('#deletePYItemModal').modal('hide');
      var pyitem_id = $(".modal-body #hiddenValue").val();
      var post_url = "../../deleteitem/" + pyitem_id + "/"; //get form action url
      var request_method = "GET"; //get form GET/POST method
      // var form_data = new FormData(this); //Creates new FormData object
      
      //if everything's ok, continue with Ajax form submit
      if(proceed){ 
        $.ajax({ //ajax form submit
          url : post_url,
          type: request_method,
          dataType : "json",
          contentType: false,
          cache: false,
          processData:false
        }).done(function(res){ 
            var table = $('#myitems').DataTable(); 
                table.ajax.reload();
                var sub_total = res.sub_total;
                var tax_amount = res.tax_amount;

              $("input[name='sub_total']").val(parseFloat(sub_total).toFixed(2));
              $("input[name='tax_amount']").val(parseFloat(tax_amount).toFixed(2));
              recalculate();
        });
      }
    });
</script>

  <!-- Add Modal-->
  <div class="modal fade" id="additemModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <form action="{% url 'py_item_create' py.pk %}" method="POST" id="addPYItem">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Payment Request Item</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% csrf_token %} 
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col col-md-3">
                            {{form_item.item_description.label_tag}}
                            </div>
                            <div class="col col-md-8">
                            {% render_field form_item.item_description class="col-md-12 form-control form-control-use" %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col col-md-3">
                            {{form_item.price.label_tag}}
                            </div>
                            <div class="col col-md-8">
                            {% render_field form_item.price class="col-md-12 form-control form-control-use" %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                      <div class="form-row">
                          <div class="col col-md-3">
                          {{form_item.tax.label_tag}}
                          </div>
                          <div class="col col-md-8">
                          {% render_field form_item.tax class="col-md-12 form-control form-control-use" %}
                          </div>
                      </div>
                  </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" id="addPYItemButton">Submit</a>
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>          
                </div>
            </form>
      </div>
    </div>
  </div>

  <script>
    $("#addPYItem").submit(function(e){
        e.preventDefault(); //prevent default action 
      proceed = true;
        
      $('#additemModal').modal('hide');
      var post_url = $(this).attr("action"); //get form action url
      var request_method = $(this).attr("method"); //get form GET/POST method
      var form_data = new FormData(this); //Creates new FormData object
      
      //if everything's ok, continue with Ajax form submit
      if(proceed){ 
        $.ajax({ //ajax form submit
          url : post_url,
          type: request_method,
          data : form_data,
          dataType : "json",
          contentType: false,
          cache: false,
          processData:false
        }).done(function(res){ 
            var table = $('#myitems').DataTable(); 
                table.ajax.reload();
                $("#addPYItem")[0].reset();
                var sub_total = res.sub_total;
                var tax_amount = res.tax_amount;
  
                $("input[name='sub_total']").val(parseFloat(sub_total).toFixed(2));
                $("input[name='tax_amount']").val(parseFloat(tax_amount).toFixed(2));
                recalculate();
        });
      }
    });
    </script>

<!-- Delete Modal-->
<div class="modal fade" id="deletePYAttachmentModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure to delete?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        Select "Delete" below if you are ready to delete.
        <input type="hidden" name="hiddenValue2" id="hiddenValue2" value="" />
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-danger" href="#" id="deletePYAttachmentButton">Delete</a>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function sendDelete2(param) {
    var deleteInput = document.getElementById("hiddenValue2"); 
    deleteInput.value = param;
  }
</script>
<script>
  $("#deletePYAttachmentButton").click(function(e){
      e.preventDefault(); //prevent default action 
      proceed = true;
      $('#deletePYAttachmentModal').modal('hide');
      var pyattachment_id = $(".modal-body #hiddenValue2").val();
      var post_url = "../../deleteattachment/" + pyattachment_id + "/"; //get form action url
      var request_method = "GET"; //get form GET/POST method
      // var form_data = new FormData(this); //Creates new FormData object
      
      //if everything's ok, continue with Ajax form submit
      if(proceed){ 
        $.ajax({ //ajax form submit
          url : post_url,
          type: request_method,
          dataType : "json",
          contentType: false,
          cache: false,
          processData:false
        }).done(function(res){ 
            var table = $('#myattachments').DataTable(); 
            table.ajax.reload();
        });
      }
    });
</script>

<!-- Add Modal-->
<div class="modal fade" id="addPYAttachmentModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <form action="{% url 'py_attachment_create' py.pk %}" method="POST" enctype="multipart/form-data" id="addPYAttachment">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">New Attachment</h5>
                  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              <div class="modal-body">
                  {% csrf_token %} 
                  <div class="form-group">
                      <div class="form-row">
                          <div class="col col-md-3">
                          {{form_attachment.attachment.label_tag}}
                          </div>
                          <div class="col col-md-8">
                          {% render_field form_attachment.attachment class="col-md-12 form-control form-control-use" %}
                          </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="form-row">
                          <div class="col col-md-3">
                          {{form_attachment.attachment_date.label_tag}}
                          </div>
                          <div class="col col-md-8">
                          {% render_field form_attachment.attachment_date type="date" class="col-md-12 form-control form-control-use" %}
                          </div>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button class="btn btn-success" id="addPYAttachmentButton">Submit</a>
                  <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>          
              </div>
          </form>
    </div>
  </div>
</div>

<script>
  $("#addPYAttachment").submit(function(e){
      e.preventDefault(); //prevent default action 
      proceed = true;
      
    $('#addPYAttachmentModal').modal('hide');
    var post_url = $(this).attr("action"); //get form action url
    var request_method = $(this).attr("method"); //get form GET/POST method
    var form_data = new FormData(this); //Creates new FormData object
    
    //if everything's ok, continue with Ajax form submit
    if(proceed){ 
      $.ajax({ //ajax form submit
        url : post_url,
        type: request_method,
        data : form_data,
        dataType : "json",
        contentType: false,
        cache: false,
        processData:false
      }).done(function(res){ 
          var table = $('#myattachments').DataTable(); 
                  table.ajax.reload();
                  $('#addPYAttachment')[0].reset();
      });
    }
  });
  </script>
  

{% endblock content %}