{% extends 'main_template.html' %}

{% block content %}
{% load static %}
{% load widget_tweaks %}

<form method="post">
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Drawer Reimbursement Request</h1>
  <style>
    table#dataTable tbody tr td a#additem {
       display:none;
   }

  table#dataTable .form-control.error2 {
		border-color: #f50000;
	}
   
   i.fas.fa-plus{
      color:white;
      margin-right: 1px;
      position: relative;
      top: 2px;
   }
   i.fas.fa-pencil-alt{
      color:white;
   }
   i.fas.fa-trash{
      color:white;
   }
   select[readonly]
    {
        pointer-events: none;
    }
 </style>
  {% csrf_token %} 
    <div>
        <a href="{% url 'reimbursement_request_send_approval' reimburse.pk %}" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm"><i class="fas fa-sign-out-alt"></i> Submit for Approval</a>
        <a href="{% url 'reimbursement_request_update' reimburse.pk %}" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-pencil-alt"></i> Edit</a>
        <a href="{% url 'reimbursement_request_list' %}" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"><i class="fas fa-times fa-sm text-white-50"></i> Cancel</a>
    </div>    
  </div>

  <div class="row">
    <div class="col-xl-6 col-md-6 mb-4">
      <div class="card shadow mb-4">
        <a href="#GeneralCard" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="GeneralCard">
          <h6 class="m-0 font-weight-bold text-primary">General</h6>
        </a>
        <div class="collapse show" id="GeneralCard">
          <div class="card-body">
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">
                    {{form.drawer.label_tag}}
                  </label>
                </div>
                <div class="col col-md-8">
                  {% render_field form.drawer|append_attr:"readonly" class="col-md-12 form-control form-control-user" placeholder=form.drawer.label %}
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">
                    {{form.request_amount.label_tag}}
                  </label>
                </div>
                <div class="col col-md-8">
                  {% render_field form.request_amount|append_attr:"readonly" class="col-md-12 form-control form-control-user" placeholder=form.request_amount.label %}
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">
                    {{form.description.label_tag}}
                  </label>
                </div>
                <div class="col col-md-8">
                  {% render_field form.description|append_attr:"readonly" class="col-md-12 form-control form-control-user" placeholder=form.description.label %}
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">
                    {{form.transaction_type.label_tag}}
                  </label>
                </div>
                <div class="col col-md-8">
                    {% render_field form.transaction_type|append_attr:"readonly" class="col-md-12 form-control form-control-user" placeholder=form.transaction_type.label %}
                </div>
              </div>
            </div>
          </div>
        </div>        
      </div>
    </div> 
    <div class="col-xl-6 col-md-6 mb-4">      
      <div class="card shadow mb-4">
        <a href="#DocInfoCard" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="DocInfoCard">
          <h6 class="m-0 font-weight-bold text-primary">Document Info</h6>
        </a>
        <div class="collapse show" id="DocInfoCard">
          <div class="card-body">
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">
                    {{form.document_number.label_tag}}
                  </label>
                </div>
                <div class="col col-md-8">
                  {% render_field form.document_number|attr:"readonly" class="col-md-12 form-control form-control-user" %}
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">
                    {{form.status.label_tag}}
                  </label>
                </div>
                <div class="col col-md-8">
                    {% if reimburse.status.status_code == 100 %}
                    <p class="text-info"><strong>{{reimburse.status}}</strong></p>
                    {% elif reimburse.status.status_code == 300  %}
                    <p class="text-warning"><strong>{{reimburse.status}}</strong></p>
                    {% elif reimburse.status.status_code == 400 %}
                    <p class="text-success"><strong>{{reimburse.status}}</strong></p>
                    {% else %}
                    <p class="text-danger"><strong>{{reimburse.status}}</strong></p>
                    {% endif %}
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col col-md-3">
                  <label class="control-label">
                    {{form.submit_date.label_tag}}
                  </label>
                </div>
                <div class="col col-md-8">
                  {% render_field form.submit_date|append_attr:"readonly" type="date" class="col-md-12 form-control form-control-user" placeholder=form.submit_date.label readonly=true %}
                </div>
              </div>
            </div>
          </div>
        </div>        
      </div>
    </div>
  </div>  
</form>
{% endblock content %}